/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 19, 2024, 11:48:07 PM
    Author     : USER
*/

.gradient{
    -fx-background-color: #ff735c;
}
.white-form{
    -fx-background-color: #fff;
}
.head-label{
    -fx-border-color: #ff735c;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}
.login-btn{
    -fx-background-color: #ff735c;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.login-btn:hover{
    -fx-background-color: #eb6958;
}
.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #ff735c;
    -fx-border-width: 0.5px;
}
.textfield:focused{
    -fx-border-width: 1px;
}
.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
